@model IEnumerable<KansukWebApp.Models.Assignment>

@{
    ViewData["Title"] = "Zimmet Listesi";
}

<h2>Zimmet Listesi</h2>
<hr />

<p>
    <a asp-action="Upsert" class="btn btn-primary">Yeni Zimmet Girişi Yap</a>
</p>

<table class="table table-responsive-md table-striped">
    <thead>
        <tr>
            <th>Kime Zimmetlendi</th>
            <th>Ürün</th>
            <th>Açıklama / Özellikler</th>
            <th>Zimmet Tarihi</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.User.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.ItemType)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@item.CreatedAt.ToShortDateString()</td>
                <td>
                    <a asp-action="Upsert" asp-route-id="@item.Id" class="btn btn-sm btn-success">Güncelle</a>
                    <form asp-action="Delete" method="post" style="display:inline;" onsubmit="return confirm('Bu Zimmeti silmek istediğinizden emin misiniz?');">
                        <input type="hidden" name="id" value="@item.Id" />
                        <button type="submit" class="btn btn-sm btn-danger">Sil</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>